{% extends "base.html" %}

<!--  -->

{% block title %} Search Engine {% endblock %}

<!--  -->

{% block content %}

<div class="container mt-5">
  <!-- form -->
  <div class="my-form">
    <center>
      <img src="{{ url_for('static', filename='search-engine.png') }}" alt="" />

      <form action="{{ url_for('home') }}" class="row g-3 mb-5" method="POST">
        <div class="input-g">
          <label for="search" class="visually-hidden">Search</label>
          <input
            class="form-control form-control-lg"
            type="text"
            id="search"
            name="search"
            placeholder="Google Search..."
            aria-label=".form-control-lg example"
          />
        </div>

        <div>
          <button type="submit" class="btn btn-primary btn-lg mb-3">
            Search
          </button>
        </div>
      </form>
    </center>
  </div>
  <!-- form -->
</div>

{% endblock %}
